<p-table
  [value]="data.items"
  [paginator]="customerName && true"
  [rows]="data.pageSize"
  [lazy]="true"
  (onLazyLoad)="getLogs($event)"
  [totalRecords]="data.totalCount"
  [loading]="isLoading"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowHover]="true"
  class="text-base"
>
  <ng-template #header>
    <tr>
      <th class="w-auto text-lg">ID</th>
      <th class="w-auto text-lg">Type</th>
      <th class="w-[120px] whitespace-nowrap" *ngIf="getTeam() === TEAM.VN">
        Mode
      </th>
      <th class="w-auto text-lg">Customer ID</th>
      <th class="w-auto text-lg">Replied By</th>
      <th class="w-auto text-lg">Pick-Up Date</th>
      <th class="w-auto text-lg">Take-Off Date</th>
      <th class="w-auto text-lg">Product</th>
      <th class="w-auto text-lg">Description</th>
      <th class="w-auto text-lg">Date Added</th>
      <th class="w-auto text-lg">Status</th>
    </tr>
  </ng-template>
  <ng-template #body let-item *ngIf="customerName">
    <tr>
      <td>{{ item.transactionId }}</td>
      <td>{{ item.transactionType }}</td>
      <td *ngIf="getTeam() === TEAM.VN">
        {{ getModeLabel(item.mode) }}
      </td>
      <td>{{ item.customer }}</td>
      <td>{{ item.repliedBy }}</td>
      <td class="whitespace-nowrap">
        {{ item.pickUpDate + "Z" | date : getDateFormat(getTeam()) }}
      </td>
      <td class="whitespace-nowrap">
        {{ item.takeOffDate + "Z" | date : getDateFormat(getTeam()) }}
      </td>
      <td>{{ item.productName }}</td>
      <td
        class="max-w-[200px] overflow-hidden whitespace-nowrap text-ellipsis"
        [pTooltip]="item.descriptionName"
        tooltipPosition="bottom"
      >
        {{ item.descriptionName }}
      </td>
      <td class="whitespace-nowrap">
        {{ item.dateAdded | date : "d MMM y HH:mm:ss" }}
      </td>
      <td>
        <p-tag [value]="item.status" [severity]="getSeverity(item.status)" />
      </td>
    </tr>
  </ng-template>
</p-table>
