<p-toast />

<p-card>
  <div class="text-2xl font-medium">Email Records</div>
  <div class="p-card-header">
    <input
      type="text"
      pInputText
      [(ngModel)]="searchString"
      placeholder="Search Keyword"
      (keyup.enter)="loadData({ first: 0 })"
      (input)="onSearchChange()"
    />
    <p-datepicker
      [(ngModel)]="rangeDates"
      selectionMode="range"
      [readonlyInput]="true"
      showIcon
      iconDisplay="input"
      placeholder="Select a pick-up date"
      [showButtonBar]="true"
      dateFormat="yy-M-dd"
      (onClearClick)="loadData({ first: 0 })"
    />
    <p-button
      label="Search"
      icon="pi pi-search"
      (onClick)="loadData({ first: 0 })"
    />
    <p-button label="Add" icon="pi pi-plus" (onClick)="showDialog()" />
    <app-export-button
      [rangeDates]="rangeDates"
      [fileName]="'email_transactions'"
      [headers]="exportColumns(accountService.activeUser()?.team!)"
      [rowMapper]="mapTransactionRow"
      [fetchDataFn]="fetchTransactions"
      (onExportComplete)="transactionTable.reset()"
    />
  </div>
  <div class="p-card-content">
    <p-table
      [value]="pagedResult.items"
      [paginator]="true"
      [rows]="pagedResult.pageSize"
      [lazy]="true"
      (onLazyLoad)="loadData($event)"
      [totalRecords]="pagedResult.totalCount"
      [loading]="loading"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowHover]="true"
      #transactionTable
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="w-[120px] whitespace-nowrap">ID</th>
          <th class="w-[120px] whitespace-nowrap">Type</th>
          <th class="w-[120px] whitespace-nowrap" *ngIf="getTeam() === TEAM.VN">
            Mode
          </th>
          <th class="w-[120px] whitespace-nowrap">Replied By</th>
          <th class="w-[120px] whitespace-nowrap">Customer</th>
          <th class="w-[220px] whitespace-nowrap">Pick-Up Date</th>
          <th class="w-[220px] whitespace-nowrap">Take-Off Date</th>
          <th class="w-[220px] whitespace-nowrap">Date Added</th>
          <th class="w-[120px] whitespace-nowrap">Product Name</th>
          <th class="w-[200px] whitespace-nowrap">Description</th>
          <th class="w-[200px] whitespace-nowrap">Remarks</th>
          <th class="w-[120px] whitespace-nowrap">Status</th>
          <th colspan="3" class="w-[120px] whitespace-nowrap">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-log>
        <tr>
          <td>{{ log.transactionId }}</td>
          <td>{{ log.transactionType }}</td>
          <td *ngIf="getTeam() === TEAM.VN">
            {{ getModeLabel(log.mode) }}
          </td>
          <td>{{ log.repliedBy }}</td>
          <td>{{ log.customer }}</td>
          <!-- convert to local time -->
          <td class="whitespace-nowrap">
            {{ log.pickUpDate + "Z" | date : getDateFormat(getTeam()) }}
          </td>
          <td class="whitespace-nowrap">
            {{ log.takeOffDate + "Z" | date : getDateFormat(getTeam()) }}
          </td>
          <td class="whitespace-nowrap">
            {{ log.dateAdded | date : "dd MMM yyyy HH:mm:ss" }}
          </td>
          <td>{{ log.productName }}</td>
          <td
            class="max-w-[150px] overflow-hidden whitespace-nowrap text-ellipsis"
            [pTooltip]="log.descriptionName"
            tooltipPosition="bottom"
          >
            {{ log.descriptionName }}
          </td>
          <td
            class="max-w-[150px] overflow-hidden whitespace-nowrap text-ellipsis"
            [pTooltip]="log.remarks"
            tooltipPosition="bottom"
          >
            {{ log.remarks }}
          </td>

          <td>
            <p-tag [value]="log.status" [severity]="getSeverity(log.status)" />
          </td>
          <td class="text-center whitespace-nowrap w-0">
            <p-button
              icon="pi pi-history"
              severity="secondary"
              [raised]="true"
              (onClick)="showLogsDialog(log)"
            />
          </td>
          <td class="text-center whitespace-nowrap w-0">
            <p-button
              icon="pi pi-user-edit"
              severity="secondary"
              [raised]="true"
              (onClick)="showDialog(log)"
            />
          </td>
          <td class="text-center whitespace-nowrap w-0">
            <p-confirmpopup />
            <p-button
              icon="pi pi-trash"
              severity="secondary"
              [raised]="true"
              (click)="confirmAndDeleteProduct($event, log)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-card-footer"></div>
</p-card>
